<header id="header">

    <nav class="navbar navbar-inverse navbar-expand-lg fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" routerLink="/"><img src="https://img.icons8.com/color/2x/nike.png" height="100px" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                    </li>
                    <li><a class="nav-link" routerLink="/product">Giày</a></li>
                    <li><a class="nav-link" routerLink="/admin">Quản lý</a></li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/service">Dịch vụ</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh mục</a>
                        <ul class="dropdown-menu">
                            <li><a href="" class="dropdown-item">Nike</a></li>
                            <li><a href="" class="dropdown-item">Adidas</a></li>
                            <li><a href="" class="dropdown-item">Sport</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">Liên hệ</a>
                    </li>
                    <li><a href="">Đăng nhập</a></li>
                    <li>
                        <a href=""><i class="fa fa-phone-square"></i> 0337449695</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--/.container-->
    </nav>
    <br><br><br>
    <div class="container" style="padding-top: 65px;">
        <div class="row">
            <div class="col-lg-3">
                <input type="text" class="form-group" placeholder="Nhập từ khóa...">&nbsp;
                <a href=""><i class="fa fa-search"></i></a> &nbsp;
                <a routerLink="/cart"><img src="https://img.icons8.com/color/2x/buy.png" width="30px" /></a>
            </div>
            <div class="col-lg-9">
                <marquee behavior="" direction="">Giảm giá lên đến 25% cho tất cả các sản phẩm khi mua online tại website của chúng tôi</marquee>
            </div>
        </div>
    </div>
</header>



<!--/nav-->