<section id="bottom">
    <div class="container fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="footer-logo">
                    <img src="https://img.icons8.com/color/2x/nike.png" height="100px" alt="logo">
                </a>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h3>Liên hệ</h3>
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i>&nbsp; Mĩ ĐÌnh, Nam Từ Liêm, Hà Nội</li>
                                <li><i class="fa fa-phone-alt"></i>&nbsp;0337449695</li>
                                <li><i class="fas fa-envelope"></i>&nbsp;dienreus1406@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h3>Công ty</h3>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Investors</a></li>
                                <li><a href="#">Sustainability</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h3>Hỗ trợ</h3>
                            <ul>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Delivery</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Payment Options</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h3>Mạng xã hội</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/"><img src="https://img.icons8.com/cute-clipart/2x/facebook-new.png" width="40px" /></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/"><img src="https://img.icons8.com/cute-clipart/2x/instagram-new.png" width="40px" /></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/"><img src="https://img.icons8.com/cute-clipart/2x/twitter.png" width="40px" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.col-md-3-->



                </div>
            </div>


        </div>
    </div>
</section>
<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>