<app-header></app-header>
<div class="page-title" style="background-image: url(../assets/images/page-title.png)">
    <h1>Dịch vụ</h1>
</div><br><br>
<section id="services" class="service-item">
    <div class="container">
        <div class="center fadeInDown">
            <h2>Dịch vụ của chúng tôi</h2>
            <p class="lead">Phục vụ khách hàng với chất lượng tốt nhất, ưu đãi nhất <br> cam kết hàng chính hãng</p>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="../assets/images/services/ux.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Custom riêng</h3>
                        <p>Bạn chỉ cần gửi hình mẫu, việc còn lại là của chúng tôi. Với các nghệ nhân kinh nghiệm về custom giày</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="../assets/images/services/web.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Cung cấp giày thể thao</h3>
                        <p>Bạn có thể lựa chọn nhiều loại giày thể thao đẹp, chất lượng cao</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="../assets/images/services/motion.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Cung cấp quần áo thể thao</h3>
                        <p>Rất nhiều mẫu quần áo đến từ Nike</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="../assets/images/services/mobile-ui.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Bán buôn, bán lẻ</h3>
                        <p>Ngoài bán lẻ thì chúng tôi còn nhận sỉ</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="../assets/images/services/web-app.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Web Applications</h3>
                        <p>Hydroderm is the highly desired anti-aging cream on</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="../assets/images/services/mobile-ui.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">SEO Marketing</h3>
                        <p>Hydroderm is the highly desired anti-aging cream on</p>
                    </div>
                </div>
            </div>

        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<app-footer></app-footer>